@charset "UTF-8";

* {padding: 0; margin: 0;}
.background_img {
	background: linear-gradient(#2f66da, #e1def3) fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	z-index: -1;
}
header {
	margin: 50px 0 50px 50px;
	height: 50px;
}
.container a {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-decoration-color: white;   
}
.content {
	margin: 70px 50px 0px 35px;
	height: 400px;
	color: white; 
	font-family: 'DM Serif Display', serif;
}
.col-aligncenter {
	float: none;
	margin: 0 auto;
}
#box {
	margin-top: -40px;
	width: 400px;
	height: 480px;
    position: relative;
	background-color: white;
	box-shadow: 3.4px 6.9px 6.9px hsl(0deg 0% 0% / 0.39);
}
.text-center {
	font-size: 77px;
}
footer {
	margin-top: 50px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 18px;
}     